@import "bootstrap-sprockets";
@import "bootstrap";

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
    height: 10%;
    width: 100%;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.form {
}

.form-for {
}

.planets {
    /*border: 1px solid blue;*/
    margin: 0;
    padding: 0;
}

.planets.wrap.image {
    float: left;
    width: 50%;
}

.planets.wrap.image.source {
    width: 100%;
    height: 100%;
}

.planets.wrap.info {
    float: left;    
    width: 50%;
    border-left: 1em solid white;
}

.clearfix {
    clear: left;
}

/*.planets.wrap.info.controls {
    text-align: center;
    width: 100%;
}*/

#planet-image {
    float: left;
    margin-right: 10px;
}

#planet-paragraph {
    /*line-height: 1.3em;*/
}

.clearfix {
    clear: left;
}

#edit-delete {
    text-align: right;
    width: 100%;
    /*margin-top: 2em;*/
}


